body{
    font-family: sans-serif;
    margin: auto;
    position: relative;
    background-color: #F0E5CF;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    position: relative;
}
.navigation ul{
    padding: 10;
    margin: 10px;
}

.navigation li{
    font-weight: 100;
    letter-spacing: 2px;
    display: inline;
    
}

a{
    text-decoration: none;
    color: #3b444f;
}

a:hover{
    text-decoration: underline;
}


